.navigation__welcome
    nav.navigation
        ul.navigation-list
            li.navigation-item.navigation-item_line
                a.navigation-link(href='/works') Мои работы
            li.navigation-item.navigation-item_line
                a.navigation-link(href='/about') Обо мне
            li.navigation-item.navigation-item_line
                a.navigation-link(href='/blog') Блог

