nav.nav
    ul.nav-list
        li.nav-item
            a.nav-link(href='/works') Мои работы
        li.nav-item
            a.nav-link(href='/about') Обо мне
        li.nav-item
            a.nav-link(href='/blog') Блог
        li.nav-item
            a.nav-link(href='/') Авторизация
